<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="intro">
        <h1>Nouveau cocktail à enregistrer ?</h1>
      </div>

    <%= render 'form', cocktail: @cocktail %>

    <%= link_to 'Retour à la liste des cocktails', cocktails_path %>

    </div>
   </div>
</div>
